@use '../../../../styles.scss' as global;

ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  li {
    margin: 10px 0px;
    a {
      text-decoration: none;
      font-weight: 700;
      padding: .2em .8em;
      color: global.$secondary-color;
      &.active {
        border: 2px solid global.$primary-color;
        color: global.$primary-color;
        border-radius: 5px;
      }
    }
  }
}
