<!-- <p>cantidad: {{ myShoppingCart.length}}</p>
<p>total: ${{ total() }}</p>
<button (click)="createNewProduct()">Click Create!</button>
<button (click)="onShowDetail('696969')">Detail Not Found!!</button> -->

<div class="container">
  <div class="box-area"></div>
  <app-product
    [product]="product"
    *ngFor="let product of products()"
    (addToCartProduct)="onAddToShoppingCart($event)"
    (showDetailProduct)="onShowDetail($event)"
  ></app-product>
  <h1>{{ products().length}}</h1>
  <button (click)="onLoadMore()">ver mas</button>
</div>

<div class="product-detail-container" [class.active]="showProductDetail">
  <h1>Hola</h1>
  <app-product-detail
    [productChosen]="productChosen"
    [showProductDetail]="showProductDetail"
    (update)="updateProduct()"
    (delete)="deleteProduct()"
    (toggleClose)="toggleProductDetail()"
  >
  </app-product-detail>
</div>


