$primary-color: #E64426;
$secondary-color: #404263;
$grey-scale: #F4F4F4;
$light-color: #FFFFFF;
$font-family: 'Source Sans Pro', sans-serif;

@font-face{
    font-family: Source Sans, sans-serif;
    src: url('../assets/fonts/SourceSansPro-Black.otf');
}